<div class="logoTopSet">
    <p><span class="logo">reserverKo</span>.apk</p>
</div>
<div class="menu">
    <div class="linearG">
        <div class="phBienv">
            <p>
                Bienvenue sur notre application <span class="logo">reserverKo</span>. </br>
                Veuillez choisir l'action que vous souhaitez de faire. 
            </p>
        </div>
        <div class="navMenu">

            <a href="/client0">CLIENTS</a>
            <a href="/voiture/0">VOITURES</a>
            <a href="/reserver">RESERVER</a>

        </div> 

    </div>
</div>